@media screen and (max-width: 350px){
    .min{
        display: block;
    }

/* Cuerpo */

/* Separations */

#personal-info{
    display: block;
}

#programs, #idiomas{
    margin-top: 150px;
}

#idiomas{
    margin-bottom: 75px;
}

/* Primera parte - Foto e info */

#about{
    font-size: 20px;
    margin-bottom: 5px;
}

#foto-perfil{
    width: 100%;
}

#info-foto{
    padding: 10px 25px;
    width: auto;
    font-size: 10px;
}

#info-tit{
    font-size: 13px;
    margin-bottom: 5px;
}

.info-p{
    line-height: 1;
}

}