@media screen and (min-width: 1050px){
.max{
    display: block;
}

/* Cuerpo */

/* Separations */

#programs, #idiomas{
    margin-top: 150px;
}

#idiomas{
    margin-bottom: 75px;
}

/* Primera parte - Foto e info */

#personal-info{
    display: flex;
}

#about{
    font-size: 60px;
    margin-bottom: 15px;
}

#foto-perfil{
    width: 55%;
}

#info-foto{
    padding: 25px 50px;
    align-self: center;
    width: 45%;
}

#info-tit{
    font-size: 32px;
    margin: 0 0 10px 0;
}

.info-p{
    line-height: 1.2;
}

/* Segunda parte - Programas */

#programs{
    padding: 20px 20px 20px 0;
    display: flex;
}

.info-programs{
    width: 45%;
    margin-left: 50px;
    align-self: center;
}

.prog-leng{
    width: 20%;
    margin-left: 5%;
    align-self: center;
}

li{
    margin: 10px 0;
}

.h3{
    font-size: 22px;
}

/* Tercera parte - Lenguages */

#idiomas{
    padding: 20px 20px 20px 0;
    display: flex;
}

#sub-menu{
    display: flex;
    margin-left: auto;
    margin-right: 10%;
}

#ip4{
    width: 220px;
    margin-left: 5%;
}

#ip5{
    margin-left: 100px;
    align-self: center;
}

.back-box1, .back-box2, .back-box3{
    margin-bottom: 10px;
}

.progress{
    width: 200px;
}

}