.max, .med, .min{
    display: none;
}

body {
    background: #0F1014 url('../img/background.jpg') no-repeat fixed;
    background-size: cover;
}

/* Links */

a{
    text-decoration: none;
}

a:visited, a:link{
    color: white;
}

a:hover{
    color: #eef1ef;
}

/* Cuerpo */

/* Separations */

/* Primera parte - Foto e info */

#about{
    font-weight: bold;
}

#personal-info{
    background-color:#eef1ef;
}

#info-tit{
    font-weight: bold;
}

/* Segunda parte - Programas */

#programs{
    background-color:#eef1ef;
    padding: 20px 20px 20px 0;
    margin-right: 100%;
    overflow: hidden;
    transition: margin-right 1s ease-out;
    opacity: 0;
}

#ip, #ip1, #ip2, #ip3, #ip4, #ip5{
    opacity: 0;
    transition: opacity 1s;
}

.info-programs{
    width: 45%;
    margin-left: 50px;
    align-self: center
}

.prog-leng{
    width: 20%;
    margin-left: 5%;
}

li{
    margin: 10px 0;
}

/* Tercera parte - Lenguages */

#idiomas{
    background-color:#eef1ef;
    padding: 20px 20px 20px 0;
    margin-right: 100%;
    overflow: hidden;
    transition: margin-right 1s ease-out;
    opacity: 0;
}

#ip4{
    width: 220px;
    margin-left: 5%;
}

#ip5{
    margin-left: 5%;
    margin-right: 50px;
}

.back-box{
    background-color: #DDDDDD;
    width: 200px;
    padding-right: 5%;
}

.spa-bar, .deu-bar, .por-bar, .eng-bar{
    background-color: #242831;
    color:#eef1ef;
    text-align: right;
    padding-right: 5%;
}

.spa-bar{
    width: 100%;    
}
.deu-bar{
    width: 20%;    
}
.por-bar{
    width: 20%;    
}
.eng-bar{
    width: 80%;    
}

.progress{
    list-style: none;
}
