@media screen and (min-width: 350px) and (max-width: 749px) {
    .med{
        display: block;
    }
    /* Main */

    .titulo{
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        margin:100px 15%;
    }

    .info-redes{
        font-weight: bold;
        font-size: 17px;
        align-self: center;
        text-align: left;
        margin: 100px 15%;
    }

}
