@media screen and (min-width: 750px){
    .max{
        display: block;
    }

    /* Main */
    
    .titulo{
        font-size: 85px;
        margin: 150px 0;
        text-align: center;
    }
    
    .info-redes{
        width: 60%;
        text-align: left;
        margin: 200px auto;
    }
    
    main {
        padding: 50px 0 75px;
    }
    
    .redes2{
        font-size: 35px;
    }

}