@media screen and (min-width: 350px) and (max-width: 749px) {
    .med{
        display: block;
    }
    /* Main */
    .titulo{
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        padding: 150px 0;
    }
    .info-redes{
        text-align: left;
        padding-bottom: 100px;   
    }
    .redes2{
        font-size: 22px;
        width: 340px;
        margin-bottom: 25px;
        margin-left: 35px;

    }
    .icon2 > i{
        width: 35px;
    }
}

