@media screen and (max-width: 349px){
    .min{
        display: block;
    }
    
    /* Main */

    .titulo{
        font-weight: bold;
        font-size: 22px;
        padding: 0;
        text-align: center;
        margin-bottom: 25px;
    }

    .info-redes{
        font-weight: bold;
        font-size: 12px;
        align-self: center;
        text-align: left;
    }

    main {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 100px 0;
    }

    p > a:visited, p > a:link{
        color:black;
    }

    p > a:hover{
        color:gray;
    }
}
