.max, .med, .min{
    display: none;
}

body {
   /* background-color: #DDDDDD; */
    color: black;
    margin: 0px;
    font-family: "Trebuchet MS";
    font-size: 20px;
    background: rgb(15, 16, 20) url('../img/formula_difuminado2.png') no-repeat fixed;
    background-size: cover;
}

/* Links */

a{
    text-decoration: none;
}

a:visited, a:link{
    color: white;
}

a:hover{
    color: #eef1ef;
}

/* Estilos del header */

header{
    background-color: #242831;
    color: #eef1ef;
    padding: 30px 1%;
}

#navigator{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center; 
}

.menus{
    text-align: center;
    width: 150px;
    font-size: 17px;
    margin: 0 25px;
    font-weight: bold;
}

/* Main */

.titulo{
    font-weight: bold;
    font-size: 60px;
    padding: 30px 0;
    margin: 0 0 30px 5%;
    align-self: center;
}

.info-redes{
    /* border: red solid 2px; */
    font-weight: bold;
    width: 45%;
    margin: 0 0 0 15%;
    align-self: center;
    text-align: left;
}

.pp{
    font-size: 22px;
    line-height: 1.5;
}

.pp>a{
    color: black;
    font-weight: bold;
}

.pp>a:hover{
    color: #242831;
}

.aa {
    display: flex;
    margin: 10px 10px 10px 800px;
}

.cc {
    margin: 10px 10px;
}

main {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 50px 0 75px;
}

.redes2{
    font-size: 22px;
    
}

.redes2 > a{
    color:black;
}

.redes2 > a:hover{
    color:gray;
}

/* Footer */

footer{
    background-color: #242831;
    color: #eef1ef;
    padding: 30px 0;
    display: flex;
}

#cont-inf{
    width: 400px;
    margin-left: 50px;
}

.redes{
    font-size: 15px;
}

#mark{
    align-self: flex-end;
    font-size: 15px;
    width: 500px;
    margin: 0 50px 0 auto;
}

/* Import icons */

i{
    width: 35px;
}

.icon{
    font-size: 25px;
}
