.max, .med, .min{
    display: none;
}

body {
    background: #0f1014 url('../img/formula_difuminado2.png') no-repeat fixed;
    background-size: cover;
}

/* Main */

.titulo{
    font-weight: bold;
}

.info-redes{
    font-weight: bold;
}

main {
    background-color: rgba(255, 255, 255, 0.3);
}

.redes2 > a:visited, .redes2 > a:link{
    color:black;
}

.redes2 > a:hover{
    color:gray;
}
