@media screen and (max-width: 499px){
    .min{
        display: block;
    }

/* Main */

.titulo{
    font-size: 30px;
    padding: 75px 0;
}

.info-cert{
    display: flex;
    padding: 30px 0;
}

.cursos{
    padding: 30px 20px 10px;
}

.title-courses{
    font-size: 14px;
}

li{
    font-size: 12px;
    line-height: 1.5;
}

.pp{
    font-size: 12px;
    line-height: 1.5;
}

img{
    width: 100%;
}

.h2{
    font-size: 14px;
    width: 50%;
    align-self: center;
    padding: 0 10px;
}

.category-info-title{
    padding: 30px 0;
    font-size: 25px;
}

.sub-menu-cert{
    width: 50%;
    align-self: center;
}

/* Animation */

.arrow{
    margin-right: 10px;
}

.certificado{
    display: block;
}

.menus-container{
    padding: 15px 15px 15px 30px;
    font-size: 15px;
}

.menus-container ~ .menus-container{
    margin-top: 30px;
}

.arrow>span>i{  
    width: 10px;
    font-size: 15px;
}

/* Style the Image Used to Trigger the Modal */

  
  /* Modal Content (Image) */
  .modal-content {
    margin-top: 70px;
    max-width: 600px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  .caption {
    margin: 20px auto;
    max-width: 700px;
    font-size: 12px;
  }
  
  /* The Close Button */
  .close {
    top: 15px;
    right: 35px;
    font-size: 30px;
  }

  @media screen and (max-width: 250px){   

    .titulo{
        font-size: 25px;
    }

    .info-cert{
        display: block;
        padding: 15px 0;
    }

    .h2{
        font-size: 14px;
        width: auto;
        padding: 0 10px;
    }
    
    .sub-menu-cert{
        width: auto;
        padding: 10px 30px 0;
    }

}

}