.max, .med, .med2, .min{
    display: none;
}

body {
    background: #0F1014 url('../img/background.jpg') no-repeat fixed;
    background-size: cover;
}

/* Main */

.titulo{
    text-align: center;
    color: #0F1014;
    font-weight: bold;
}

.cursos{
    justify-content: left;
}

.title-courses{
    font-weight: bold;
}

.pp>a:link, .pp>a:visited, li>a:link, li>a:visited{
    color: black;
    font-weight: bold;
}

.pp>a:hover, li>a:hover{
    color: #242831;
}

img{
    width: 55%;
}

.category-info-title{
    background-color: rgba(15,15,15,0.2);
    text-align: center;
    font-weight: bold;
}

.h2{
    font-weight: bold;
    text-align: center;
}

/* Animation */

.arrow{
    margin-left: auto;
}

.category-info{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.certificado, .cursos{
    background-color:#eef1ef;
}

.menus-container{
    background-color: #0F1014;
    color: #eef1ef;
    font-weight: bold;
    cursor: pointer;   
    display: flex;
    position: relative;
    z-index: 1;
    top: 0;
}

.arrow>span>i{  
    transform: rotate(-90deg);
    transition: transform 0.1s linear;
}

/*  */
/*  */
/* 
 */

/* Style the Image Used to Trigger the Modal */
.img-modal, .img-modal2{
  cursor: pointer;
  transition: 0.3s;
}

.img-modal:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: #ccc;
  font-weight: bold;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .caption {
  animation-name: zoomIn;
  animation-duration: 0.6s;
}

@keyframes zoomIn {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  color: #f1f1f1;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  cursor: pointer;
}
