@media screen and (min-width: 350px) and (max-width: 1039px) {
    .med{
        display: block;
    }

/* Main */
.titulo{
    text-align: center;
    color: white; 
    font-weight: bold;
    font-size: 60px;
    padding: 75px 0;
}
img{
    width: 50%;
    margin: 0 auto;
}

.job-grade, .proy-grade{
    font-size: 30px;
    font-weight: bold;
}
.duration{
    font-size: 18px;
}
.info-job, .info-proy{
    width: 80%;
    padding: 110px 50px;
    align-self: center;
}
.complement{
    height: 300px;
}
.p{
    height: 1000px;
}

}