@media screen and (max-width: 509px){
    .min{
        display: block;
    }
    .titulo{
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        padding: 40px 0;
    }
    img{
        width: 100%;
    }
    
    .job-grade, .proy-grade{
        font-size: 22px;
        font-weight: bold;
    }
    .duration{
        font-size: 13px;
    }
    .info-job, .info-proy{
        width: 90%;
        padding: 25px 15px;
        align-self: center;
    }
    .description{
        font-size: 16px;
    }
    .reference{
        font-size: 16px;
    }
    .slideshow-container {
        width: 100%;
    }
    /* The dots/bullets/indicators */
    .dot {
        height: 9px;
        width: 9px;
        margin: 0 2px;
        border: #DDDDDD 1px solid;
    }
    .prev, .next {
        padding: 12px;
        font-size: 12px;
      }
}