@media screen and (max-width: 509px){
    .min{
        display: block;
    }
    .titulo{
        text-align: center;
        font-weight: bold;
        font-size: 45px;
        padding: 75px 0;
    }
    img{
        width: 100%;
    }
    
    .job-grade, .proy-grade{
        font-size: 22px;
        font-weight: bold;
    }
    .duration{
        font-size: 14px;
    }
    .info-job, .info-proy{
        width: 90%;
        padding: 25px 15px;
        align-self: center;
    }
    .description{
        font-size: 18px;
    }
    .reference{
        font-size: 18px;
    }
    

}