@media screen and (min-width: 700px) and (max-width: 929px) {
    .med2{
        display: block;
    }

/* Main */
.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    padding: 60px 0;
}
img{
    width: 100%;
}

.job-grade, .proy-grade{
    font-size: 35px;
    font-weight: bold;
}
.duration{
    font-size: 15px;
}
.info-job, .info-proy{
    width: 90%;
    padding: 40px 35px;
    align-self: center;
    font-size: 20px;
}
.slideshow-container {
    width: 80%;
    }



}