@media screen and (min-width: 510px) and (max-width: 699px) {
    .med{
        display: block;
    }

/* Main */
.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    padding: 60px 0;
}
img{
    width: 100%;
}

.job-grade, .proy-grade{
    font-size: 30px;
    font-weight: bold;
}
.duration{
    font-size: 18px;
}
.info-job, .info-proy{
    width: 90%;
    padding: 40px 35px;
    align-self: center;
}
.slideshow-container {
    width: 100%;
    }

    
}