.max, .med2, .med, .min{
    display: none;
}

body {
    background: #0F1014 url('../img/forest-5421362_1920.jpg') no-repeat fixed;
    background-size: cover;
    
}

/* 
Main
*/
main{
  background-color: rgba(17, 17, 17, 0.8);
}
img{
  width: 100%;
  margin-bottom: -5px;
}

.titulo{
    color: #EEF1EF; 
}
.p {
    background-color: #EEF1EF;
}
/* Spacing */

#jobs > .p ~ .p, #proyects > .p ~ .p{
    margin-top: 150px;
}


/*  */


.reference>a:visited, .reference>a:link{
    color: #000000;
    font-weight: bold;
}

.reference>a:hover{
    color: #242831;
}

/* 
Works
*/

.duration{
    color: #242831;
}


/* Animations */

.complement{
    overflow: hidden;
    background-color: none;
    transition: height 1s ease-out;
}

/* .p ~ .p, #c1{
    max-height: 0;
    transition: max-Height 1s ease-out;
} */

.p {
  overflow: hidden;
}

/* CSS para los SlideShows */

/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  width: 55%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #EEF1EF;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s linear;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #000000;
}

/* Caption text */
/* .text {
  color: #EEF1EF;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #EEF1EF;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.8);
  border-radius: 0 0 3px 0;
} */

.dots{
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0F1014;
  border-radius: 50%;
  border: #DDDDDD 2px solid;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #EEF1EF;
}

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
} */

/* @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

/* @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */