body {
    background: rgb(15, 16, 20) url('../img/background.jpg') no-repeat fixed;
    background-size: cover;
    color: black;
    margin: 0px;
    font-family: "Trebuchet MS";
    font-size: 20px;
}

/*
Links
*/

a{
    text-decoration: none;
}

a:visited, a:link{
    color: white;
}

a:hover{
    color: #eef1ef;
}

/*
Estilos del header
*/

header{
    background-color: #242831;
    color: #eef1ef;
    padding: 30px 1%;
}

#navigator{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center; 
}

.menus{
    text-align: center;
    width: 150px;
    font-size: 17px;
    margin: 0 25px;
    font-weight: bold;
}

/* 
Main
*/

/* Spacing */

#jobs > .p ~ .p, #proyects > .p ~ .p{
    margin-top: 150px;
}

footer{
    margin-top: 75px;
}

/*  */

img{
    width: 55%;
}

.p {
    display: flex;
    background-color: #eef1ef;
}

.titulo{
    text-align: center;
    color: white; 
    font-weight: bold;
    font-size: 60px;
    padding: 75px 0;
}

.reference>a{
    color: black;
    font-weight: bold;
}

.reference>a:hover{
    color: #242831;
}

/* 
Works
*/

.job-grade, .proy-grade{
    font-size: 30px;
    font-weight: bold;
}

.duration{
    color: #242831;
    font-size: 18px;
}

.info-job, .info-proy{
    width: 45%;
    padding: 25px 50px;
    align-self: center;
}

/* 
Proyects
*/



/*
Footer
*/

footer{
    background-color: #242831;
    color: #eef1ef;
    padding: 30px 0;
    display: flex;
}

#cont-inf{
    width: 400px;
    margin-left: 50px;
}

.redes{
    font-size: 15px;
}

#mark{
    align-self: flex-end;
    font-size: 15px;
    width: 500px;
    margin: 0 50px 0 auto;
}

/*
Import icons
*/

i{
    width: 35px;
}

.icon{
    font-size: 25px;
}

/* Animations */

.complement{
    height: 500px;
    overflow: hidden;
    background-color: none;
    transition: height 1s ease-out;
}

.p{
    max-height: 0;
    overflow: hidden;
    transition: max-Height 1s ease-out;
}