.maxhf, .medhf, .minhf{
    display: none;
}

body {
    background-color: #0F1014;
    margin: 0px;
    font-family: "Trebuchet MS";
    font-size: 20px;
    color: #000000;
}

/* Links */

a{
    text-decoration: none;
}

a:visited, a:link{
    color: #EEF1EF;
}

a:hover{
    color: #B2B6C2;
}

/* Estilos del header */

header{
    background-color: #242831;
    color: #EEF1EF;
}

#navigator{
    width: auto;
}

.menus{
    font-weight: bold;
}

#hiden-menu{
    background-color: #0F1014;
    overflow: hidden;
    transition: max-height 0.2s linear;
}

/* Footer */

footer{
    background-color: #242831;
    color: #EEF1EF;
}