.maxhf, .medhf, .minhf{
    display: none;
}

body {
    background-color: rgb(34, 34, 34);
    margin: 0px;
    font-family: "Trebuchet MS";
    font-size: 20px;
    color: black;
}

/* Links */

a{
    text-decoration: none;
}

a:visited, a:link{
    color: white;
}

a:hover{
    color: #eef1ef;
}

/* Estilos del header */

header{
    background-color: #242831;
    color: #eef1ef;
}

#navigator{
    width: auto;
}

.menus{
    font-weight: bold;
}

/* Footer */

footer{
    background-color: #242831;
    color: #eef1ef;
}