@media screen and (min-width: 350px) and (max-width: 720px) {
    .medhf{
        display: block;
    }

    /* Estilo del Header */

    header{
        padding-top: 25px;
    }

    .downArrow > span > i{
        font-size: 25px;
        width: 10px;
        text-align: center;
    }

    .downArrow{
        text-align: right;
        margin-right: 50px;        
    }

    #navigator{
        height: 50px;
        cursor: pointer;
    }

    #hiden-menu{
        line-height: 2;
        font-size: 15px;
        max-height: 0;
    }

    .menus{
        padding: 25px 50px;
    }

    .menus > div ~ div{
        border-top: #242831 4px solid;
    }

    /* Footer */

    footer{
        padding: 20px 0;    
    }

    #cont-inf{
        width: 200px;
        margin-left: 50px;
    }

    .redes{
        font-size: 12px;
    }

    #cont-inf > h3 {
        font-size: 15px;
    }

    #mark{
        text-align: center;
        font-size: 12px;
        width: 300px;
        margin: 30px auto 0 auto;
    }

    /* Import icons */

    i{
        width: 20px;
    }

    .icon{
        font-size: 15px;
    }

}