@media screen and (min-width: 721px) {
    .max{
        display: inherit !important;
    }
    /* Estilo del Header */

    header{
        padding: 30px 1%;
    }

    #navigator{
        display: flex;
        justify-content: flex-end;
        align-items: center; 
    }

    .menus{
        text-align: center;
        width: 150px;
        font-size: 17px;
        margin: 0 25px;
    }
}

