@media screen and (min-width: 500px) and (max-width: 720px) {
    .med{
        display: inherit !important;
    }

    /* Estilo del Header */

    header{
        padding-top: 25px;
    }

    .arrow{
        text-align: right;
        margin-right: 50px;        
    }

    #navigator{
        height: 50px;
        cursor: pointer;
    }

    #hiden-menu{
        background-color: #1c2027;
        line-height: 1.5;
        font-size: 17px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s linear;
    }

    .menus{
        padding: 25px 0 25px 50px;
    }

}